# **Simple Borda**

Implement simple Borda count on the lists of 10 items recommended by each recommender.

## Procedure:
- Load one dataframe and get all unique `user_id`'s
- Create a `fused` dataframe
- Iterate over `user_id`'s and do:
    - create a `user_id` dataframe
    - For each `recommender.csv`:
        - Load a rating
        - Select rows corresponding to this user
        - Convert rankings to points
        - Drop Rankings
        - DO NOT Drop user_id
        - Add these line to the `user_id` dataframe
    - Aggregate the `user_id` dataframe on the track_id by summing the points
    - Sort descending on points
- Add the `user_id` dataframe to the `fused` dataframe

## Output: 
`user_id.tsv`: a file containing `user_id` and the new ranked list of top 10 recommendations.

In [1]:
import pandas as pd
import os

In [2]:
from config import *
from helpers import *

### Get the unique `user_id`'s

In [3]:

# Get the list of files with rankings
rankings = os.listdir( rankings_path )

# Open one file it as a dataframe
one_rec_df = pd.read_csv( rankings_path + rankings[0] )

In [4]:
users = get_user_ids( rankings_path ) 
print( 'There are ', len(users), 'unique users.' )

There are  14125 unique users.

### Define the final dataframe

In [5]:
# Columns of the final dataframe
fused_dataframe_columns = [ 'user', 'item', 'points', 'rank' ]
fused_recommendations = pd.DataFrame( columns=fused_dataframe_columns )
fused_recommendations.head()

Empty DataFrame
Columns: [user, item, points, rank]
Index: []

In [6]:
user_id = users[0]

# columns of the individual user dataframe
user_dataframe_columns = fused_dataframe_columns[:3]

In [7]:
user_df = sum_borda_points( rankings_path, user_id, user_dataframe_columns )

In [8]:
user_df.head()

               item           user  points  rank
0  ttETA3r4njl7qDd7  user_3Fo6NS17      29     1
1  32m5suoC94ytD8Ed  user_3Fo6NS17      26     2
2  xOyScgiztu4p6Jgk  user_3Fo6NS17      23     3
3  fay1EXMAla6qcr5w  user_3Fo6NS17      20     4
4  POMsiP4ecUk4lyEp  user_3Fo6NS17      18     5